<div class="row">
  <div class="col-10 offset-1">
    <div class="row">
      <div class="col-12 text-center" style="margin-top:15px;">
        <h1>Welcome to Chess game </h1>
      </div>
    </div>

    <div>
      <% if @games %>
        <p>
        Games available to join:
        </p>
        <% @games.each do |game| %>
          <div>
            <%= link_to "Play with #{game.available_player.email}", join_game_path(game.id), :method => :put %>
          </div>
        <% end %>
      <% end %>
      
    </div>

    <div>
      <%if @game_user %>
        <p>
        Games you have started or part of :
        <% @game_user.each do |game| %>
          <div>
            <%= link_to "Open #{game.id}", game_path(game) %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

</div>



   