<h1>welcome to new game</h1>
<div class="board">
      <table>
        <tbody>
          <% (1..8).each do |column| %>
            <tr id = <%= column %>>
              <% (1..8).each do |row| %>
                <td data-x-coord = <%= row %> data-y-coord = <%= column %> class = <%= "#{(column % 2 == row % 2 ? "white-square" : "black-square")}" %> >
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>

   